@* @model IEnumerable<InventoryViewModel>
 *@



<div class="relative overflow-hidden bg-white border sm:rounded-lg">
    <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
        <div class="flex items-center flex-1 space-x-4">
            <h5>
                <span class="text-black">Stock List Information</span>
             @*    <span class="text-gray-500">@ViewBag.BrandCount</span> *@
            </h5>

        </div>
        <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
            <a asp-area="Admin" asp-action="Create" type="button" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[#7258DB]  focus:ring-primary-300 ">
                <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                </svg>
                Add new brand
            </a>


        </div>
    </div>
    <div class="overflow-x-auto ">
        <table id="tblData" class="w-full text-sm text-left rounded-md " style="width:100%; background-color: #ffffff; border: 1px solid #ccc; margin-top:2px;">
            <thead class="text-xs text-black uppercase mt-2 ">
                <tr class="">


                    <th><p class="flex justify-center">S.N</p></th>
                    <th><p class="flex justify-center">Products</p></th>
                    <th><p class="flex justify-center">Category</p></th>
                    <th><p class="flex justify-center">Brand</p></th>
                    <th><p class="flex justify-center">Sizes</p></th>
                    <th><p class="flex justify-center">Price</p></th>
                    <th><p class="flex justify-center">Stock</p></th>
                    <th><p class="flex justify-center">Status</p></th>

                







                </tr>
            </thead>
          
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/stock.js"></script>
}


@* <div class="relative overflow-hidden bg-white border sm:rounded-lg">
    <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
        <div class="flex items-center flex-1 space-x-4">
            <h5>
                <span class="text-black">Stock List Information</span>
            
            </h5>

        </div>

    </div>
    <div class="overflow-x-auto ">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-black uppercase    ">
                <tr class=" rounded-t-lg border">
                  
                    <th scope="col" class="px-4 py-3  "><p class="flex justify-center">Products</p></th>
                    <th scope="col" class="px-4 py-3  "><p class="flex justify-center">Category</p></th>
                    <th scope="col" class="px-4 py-3  "><p class="flex justify-center">Size</p></th>
                    <th scope="col" class="px-4 py-3  "><p class="flex justify-center">Price</p></th>

                    <th scope="col" class="px-4 py-3  "><p class="flex justify-center">Stock</p></th>
                    <th scope="col" class="px-4 py-3  "><p class="flex justify-center">Status</p></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="border-b border-gray-600 cursor-pointer hover:bg-gray-200">
         
                        <td class="px-4 py-3 font-medium whitespace-nowrap  ">
                            <div class="flex justify-center">
                             
                                <p>@Html.DisplayFor(modelItem => item.ProductName)</p>
                            </div>
                        </td>
                        <td class="px-4 py-2 font-medium whitespace-nowrap  ">
                            <p class="flex justify-center">@Html.DisplayFor(modelItem => item.CategoryName)</p>
                        </td>
                        <td class="px-4 py-2 font-medium whitespace-nowrap  ">
                            <p class="flex justify-center">Rs. @Html.DisplayFor(modelItem => item.Price)</p>
                        </td>
                        <td class="px-4 py-2 font-medium whitespace-nowrap  ">
                            <p class="flex justify-center">@Html.DisplayFor(modelItem => item.Size)</p>
                        </td>
                        <td class="px-4 py-2 font-medium  whitespace-nowrap flex justify-center pt-4 ">
                            <div class="inline-block w-4 h-4 mr-2 border rounded-full flex justify-center" style="background-color: @(item.Stock < 2 ? "#ff0000" : "#4ADE80")">
                                <p class="hidden">@Html.DisplayFor(modelItem => item.Stock)</p>
                            </div>
                            <p class="flex justify-center" style="color: @(item.Stock < 2 ? " red" : "#4ADE80" )">@Html.DisplayFor(modelItem => item.Stock)</p>
                        </td>

                        <td class="px-4 py-2 font-medium  whitespace-nowrap  ">
                            <div class="flex justify-center ">
                                <button class="border px-2 py-1 rounded-md @(item.Stock < 2 ? "bg-red-500" : "bg-[#4ADE80]") text-white">@(item.Stock < 2 ? "Low Stock" : "In Stock")</button>
                            </div>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div> *@