@using Fyp.Models;
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class=" flex flex-col space-y-2">
    <li class="inline-block"><a class="block py-2 px-4 @ManageNavPages.IndexNavClass(ViewContext) hover:bg-gray-200" id="profile" asp-page="./Index">Profile</a></li>
    <li class="inline-block"><a class="block py-2 px-4 @ManageNavPages.EmailNavClass(ViewContext) hover:bg-gray-200" id="email" asp-page="./Email">Email</a></li>
    <li class="inline-block"><a class="block py-2 px-4 @ManageNavPages.ChangePasswordNavClass(ViewContext) hover:bg-gray-200" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="inline-block"><a class="block py-2 px-4 @ManageNavPages.ExternalLoginsNavClass(ViewContext) hover:bg-gray-200" id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    @* <li class="inline-block"><a class="block py-2 px-4 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) hover:bg-gray-200" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
    <li class="inline-block"><a class="block py-2 px-4 @ManageNavPages.PersonalDataNavClass(ViewContext) hover:bg-gray-200" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
